@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation */

nav {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}
.nav-container {
    width: 100%;
    height: 9vh;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    position: relative;
}
.bars {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 20%;
}
.bar1 {
    position: absolute;
    top: 3px;
    width: 20px;
    height: 3px;
    background-color: #000;
    transition: 250ms ease;
}
.bar2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 20px;
    height: 3px;
    background-color: #000;
    /* display: none; */
}
.bar3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 20px;
    height: 3px;
    background-color: #000;
    transition: 250ms ease;
}
.animate1 {
    transform: rotate(45deg);
    top: 60%
}
.animate2 {
    transform: rotate(-45deg);
    top: 60%;

}
.logo {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
    margin: 0 auto 0 auto;
    line-height: 0.7;
}
.logo::after {
    content: 'study abroad';
    font-size: 12px;
    letter-spacing: 4px;
}
.logo label {
    font-size: 12px;
    letter-spacing: 3px;
}
.cta {
    background-color: #fff;
    margin-right: 1rem;
    padding: 7px 10px;
    color: white;
    border: none;
    outline: none;
    background-color: #717CFF;
    height: 40px;
}
.nav-links {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 30vw;
    opacity: 0;
    background-color: #717CFF;

    transform: scale(0,0);
    /* transform: translateX(-100%); */
    transition: all 250ms;
}
.link {
    padding: 10px;
    color: white;
    position: relative;
}
.link::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 10px;
    transition: 250ms;
}
.link:hover::after {
    width: 30%;
}
.link a {
    text-decoration: none;
    color: white;
}
.nav-link-active {
    /* transform: translateX(0); */
    transform: scale(1,1);
    opacity: 1;
}

@media screen and (max-width: 1000px){
    /* .link {
        display: none;
    } */
}

@media screen and (min-width: 600px) {
    .bars {
        display: none;
    }
    .logo {
        margin-left: 50px;
    }
    .link a {
        color: black;
    }
    .link {
        all:unset;
        position: relative;
    }
    .nav-links {
        all: unset;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        width: 50%;
        background-color: pink;
        text-align: center;
        padding: 10px 0;
        overflow: hidden;
    }
    .link::after {
        content: '';
        width: 0%;
        height: 3px;
        background-color: #717CFF;
        position: absolute;
        bottom: -5px;
        left: 30%;
        transition: 250ms;
    }
    .link:hover::after {
        width: 40%;
    }
    .cta {
        margin-right: 1rem;
        width: 200px;
    } 

}
