@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow: hidden !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}

/* Navigation */
.main-cont {
    background: rgb(146,140,255);
    background: linear-gradient(180deg, rgba(146,140,255,1) 0%, rgba(255,255,255,1) 100%);

}

nav {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    z-index: 99;
    width: 100vw;
    position: fixed;
    top: 0;
    border-top: 7px solid #717CFF;
}
.nav-container {
    width: 100%;
    height: 9vh;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    position: relative;
}
.bars {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 10%;
    left: 2%;
}
.bar1 {
    position: absolute;
    top: 3px;
    width: 20px;
    height: 3px;
    background-color: #000;
    transition: 250ms ease;
}
.bar2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 20px;
    height: 3px;
    background-color: #000;
    /* display: none; */
}
.bar3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 20px;
    height: 3px;
    background-color: #000;
    transition: 250ms ease;
}
.animate1 {
    transform: rotate(45deg);
    top: 60%
}
.animate2 {
    transform: rotate(-45deg);
    top: 60%;

}
.logo {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
    margin: 0 auto 0 auto;
    line-height: 0.7
}
.logo::after {
    content: 'study abroad';
    font-size: 12px;
    letter-spacing: 4px;
}
.logo label {
    font-size: 12px;
    letter-spacing: 3px;
}
.cta {
    background-color: #fff;
    width: 100px;
    padding: 7px 10px;
    color: white;
    border: none;
    outline: none;
    background-color: #717CFF;
    height: 40px;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    position: absolute;
    padding-bottom: 40vh;
    z-index: 99;
    top: 100%;
    left: 0;
    height: 90vh;
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* opacity: 0.5; */
    background-color: #717CFF;

    /* transform: scale(0,0); */
    transform: translateX(-100%);
    transition: all 250ms;
}
.link {
    font-size: 25px;
    padding: 10px;
    color: white;
    margin-right: 20px;
    position: relative;
}
.link a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 10px;
    transition: 250ms;
}
.link a:hover::after {
    width: 90%;
}
.link a {
    text-decoration: none;
    color: white;
    font-family: 'Lato';
}
.nav-link-active {
    transform: scale(1,1);
    opacity: 1;
}
/* Navigation Ends */

/* Hero Section */

.hero-section {
    margin-top: 50px;
    padding-top: 100px;
}

.title {
    padding: 3rem 1rem;
}
.title span {
    color: #717CFF;
}
.headline {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 50px;
    
}
.sub-headline {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 2.3rem 0;
    color: #414142;
}
.cta2 {
    color: white;
    background-color: #717cff;
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
}
.cta2::after {
    content: '\f0a4';
    font-family: FontAwesome;
    margin-left: 15px;
    animation: move 750ms linear infinite;
}
.image {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.image img {
    height: 100%;
    width: 100%;
}
.social-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 2rem;
}
.social-links i {
    padding: 7px;
    border: none;
    border-radius: 50%;
    transition: 0.25s;
    margin-right: 10px;
    font-size: 12px;
    color: white;
}
.social-links i:nth-of-type(1) {
    /* color: #fd5949; */
    /* color: white; */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-links i:nth-of-type(2) {
    padding: 7px 10px;
    background-color: #3b5998;
    /* color: #3b5998; */
    /* color: white; */
}
.social-links i:nth-of-type(3) {
    /* color: #00acee; */
    background-color: #00acee;
    /* color: white; */
}
/* .social-links i:nth-of-type(1):hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-links i:nth-of-type(2):hover {
    background-color: #3b5998;
}
.social-links i:nth-of-type(3):hover {
    background-color: #00acee;
} */

/* Hero section ends */



/* Cards */

.cards-section {
    width: 100vw;
    background: rgb(227,227,227);
    background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(231,231,231,1) 35%, rgba(255,255,255,1) 100%);
    padding: 50px 10px;
    

}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px,1fr));
    grid-gap: 30px;
    margin: 0 auto;
    padding: 0 10px;
}
.card {
    background-color: #fff;
    padding: 2rem;
    position: relative;
    transition: 500ms ease;
    cursor: pointer;
    box-shadow: 0px 0.2rem 0.75rem -.25em rgba(85, 85, 85, 0.3)
}
.card:hover {
    transform: scale(1.02);
}
.card img {
    border-radius: 50%;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 10px;
    position: relative;
    z-index: 9;
}
.card .head  {
    text-align: left;
}
.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30%;
}
/* .card::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    opacity: 0;
    transition: opacity 500ms ease;
    box-shadow: 0px 0.125rem 0.25rem 0px rgba(0,0,0,0.3)
}
.card:hover::after {
    opacity: 1;
    box-shadow: 0px 0.2rem 0.75rem -.25em rgba(0,0,0,0.3)
} */
.head {
    font-family: 'Lato', sans-serif;
    margin: 20px 0 10px 0px;

}
.sub-head {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4;
    color: #707070;
}
.learn {
    position: relative;
    padding-right: 20px;
    color: #717CFF;
}
.learn::after {
    content: '\f061';
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    color: #717CFF;
}

.news-section {
    margin: 100px 10px;
}
.head {
    text-align: center;
}
.head h1 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
    position: relative;
    display: inline;
}
.head h1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    background-color: #285AEB;
}
 .head p {
    color: #414142;
    line-height: 1.4;
    margin: 50px auto;
}
 
.tiles {
    display: grid;
    grid-gap: 20px;
}
.tile {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 250ms;
    box-shadow: 0px 0.2rem 0.75rem -.25em rgba(85, 85, 85, 0.3)
}
.tile img {
    width: 100%;
}
.tile::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -2;
    transition: opacity 500ms ease, box-shadow 500ms ease;
    box-shadow: 0px 0.125rem 0.25rem 0px rgba(0,0,0,0.1)
}
.tile:hover {
    transform: scale(1.02);

}
.tile:hover::after {
    opacity: 1;
    box-shadow: 0px 0.2rem 0.75rem -.25em rgba(0,0,0,0.3)
}
.tile svg {
    width: 100%;
}
.details {
    padding: 1rem 0rem;
}
.details h3 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.details p {
    font-weight: 600;
    margin-bottom: 10px;
}
.details p::before {
    content: '\f133';
    font-family: FontAwsome;
    margin-right: 10px;
}
.join {
    text-align: center;
    margin-top: 50px;
}
.join a {
    background-color: #717cff;
    margin: 2rem auto;
    padding: 0.7rem 3rem 0.7rem 2rem;
    display: inline;
    color: white;
}
.join a::after {
    content: '\f061';
    font-family: FontAwesome;
    position: absolute;
    margin-left: 10px;
    color: white;
}

/* Events Section */

.events-container {
    background-color: rgb(246, 246, 246);
    margin: 50px auto;
    padding: 50px 10px;
    margin-bottom: 0;
}
.events-container .head p {
    margin: 50px auto;
}

.calendar-tiles {
    display: grid;
    grid-gap: 20px;
}
.c-tile {
    padding: 2em;
    font-family: 'Lato';
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: all 250ms;
}
.c-tile:hover {
    transform: Scale(1.02);
    box-shadow: 0px 0.2rem 0.75rem -.25em rgba(0,0,0,0.3)
}
.t-head {
    display: flex; 
    margin-bottom: 1em;
}
.t-head h1 {
    font-size: 22px
}

.c-tile p {
    line-height: 1.4;
    color: #414142;
}
.date {
    background-color: #c0c5fd;
    border-radius: 12px;
    margin-right: 1em;
    width: 100px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date p {
    color: #285AEB;
}
.date p:nth-of-type(1) {
    font-weight: 900;
    font-size: 20px;
}
.t-tail {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.time {
    font-weight: 500;
}
.time i {
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000;
    height: 40px;
}


.fade-in-left {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 250ms ease-in;
}
.fade-in-left.appear {
    transform: translateX(0);
    opacity: 1;
}
.fade-in-right {
    opacity: 0;
    transform: translateX(20%);
    transition: all 250ms ease-in;
}
.fade-in-right.appear {
    transform: translateX(0);
    opacity: 1;
}

[data-scroll] {
    transition: all 500ms
}

[data-scroll = "in"] {
    opacity: 1;
    transform: translateY(0)
}
[data-scroll = "out"] {
    opacity: 0;
    transform: translateY(200px)
}
[data-scroll-dir-x = "in"] {
    opacity: 1;
    transform: translateX(200px)
}
[data-scroll-dir-x = "out"] {
    opacity: 0;
    transform: translateX(200px)
}

@keyframes move {
    0%{
        margin-left: 15px;
    }
    25% {
        margin-left: 17px;
    }
    50% {
        margin-left: 20px;
    }
    75% {
        margin-left: 17px;
    }
    100% {
        margin-left: 15px;
    }
}


@media screen and (min-width: 768px) {
    .hero-section {
        width: 90%;
        margin: 100px auto 0 ;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image {
        width: 400px;
        height: 300px;
        margin: auto;
    }
    .cta {
        margin-right: 1rem;
    }
   
    .tiles {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
    .calendar-tiles {
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
    .news-section {
        width: 90%;
        margin: 0 auto;
    }
    .head p {
        max-width: 700px;
    }
    .cards-section {
        padding: 2rem;
    }
    .join {
        margin-top: 50px;
    }

}

@media screen and (min-width: 1000px) {
    .hero-section {
        
        padding: 100px 0;
        display: grid;
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .title {
        padding-right: 0;
        padding-left: 100px;
        width: 80%;
    }
    .headline {
        font-size: 3rem;
    }
    .bars {
        display: none;
    }
    .link a {
        color: black;
        position: relative;
        font-family: "Lato";
    }
    .link {
        all:unset;
    }
    .nav-links {
        all: unset;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        width: 50%;
        text-align: center;
        padding: 10px 0;
        overflow: hidden;
    }
    .link a::after {
        content: '';
        width: 0%;
        height: 3px;
        background-color: #717CFF;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: 250ms;
    }
    .link a:hover::after {
        width: 100%;
    }
    .cta {
        margin-right: 3rem;
        width: 150px;
        cursor: pointer;
    } 
    
    .join {
        margin: 50px auto;
    }
    .calendar-tiles {
        width: 70%;
        margin: auto;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    }
    .head h1 {
        font-size: 35px;
    }
    .head p {
        font-size: 18px;
    }


    .cards {
        margin-bottom: 50px;
    }
    .card {
        background-color: rgb(243, 243, 243);
    }

}
